{% assign sorted_posts = site.posts | sort: 'date' | reverse %}

<!-- Featured posts at the top -->
<div class="container my-4">
  <div class="row">
    {% for post in sorted_posts limit:3 %}
      <div class="col-md-4 mb-4">
        {%- assign post_type  = "local" -%}
        {%- assign post_id    = post.name | slugify -%}
        {%- assign post_img   = post.image -%}
        {%- assign post_name  = post.name -%}
        {%- assign post_desc  = post.description -%}
        {%- assign post_tools = post.tools -%}

        {%- if post.external_url -%}
          {%- assign post_url = post.external_url -%}
          {%- assign external    = true -%}
        {%- else -%}
          {%- assign post_url = post.url | relative_url -%}
          {%- assign external    = false -%}
        {%- endif -%}

        {% include blog/post-card.html %}
      </div>
    {% endfor %}
  </div>
</div>

<!-- Remaining posts in masonry layout -->
<div class="card-columns m-3 mt-5">
  {% for post in sorted_posts offset:3 %}
    {%- assign post_type  = "local" -%}
    {%- assign post_id    = post.name | slugify -%}
    {%- assign post_img   = post.image -%}
    {%- assign post_name  = post.name -%}
    {%- assign post_desc  = post.description -%}
    {%- assign post_tools = post.tools -%}

    {%- if post.external_url -%}
      {%- assign post_url = post.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign post_url = post.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include blog/post-card.html %}
  {% endfor %}
</div>




