{% assign sorted_posts = site.posts | sort: 'date' | reverse %}

<!-- Featured posts at the top -->
<div class="container my-4">
  <h2 class="text-left mb-3 text-primary">Latest</h2>
  <div class="row featured-section p-3 mb-3 bg-light rounded">
    {% for project in sorted_posts limit:3 %}
      <div class="col-md-4 mb-4 d-flex">  <!-- Add d-flex here -->
        {%- assign is_featured = true -%}
        {%- assign project_type  = "local" -%}
        {%- assign project_id    = project.name | slugify -%}
        {%- assign project_img   = project.image -%}
        {%- assign project_name  = project.name -%}
        {%- assign project_desc  = project.description -%}
        {%- assign project_tools = project.tools -%}

        {%- if project.external_url -%}
          {%- assign project_url = project.external_url -%}
          {%- assign external    = true -%}
        {%- else -%}
          {%- assign project_url = project.url | relative_url -%}
          {%- assign external    = false -%}
        {%- endif -%}

        {% include blog/project-card.html %}
      </div>
    {% endfor %}
  </div>
</div>

<!-- Remaining posts -->

<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-muted">More stories</h3>
    <small class="text-muted">{{ sorted_posts.size | minus: 3 }} articles</small>
  </div>
  
  <div class="row">
    {% for project in sorted_posts offset:3 %}
      <div class="col-md-6 col-lg-4 mb-4 d-flex">  <!-- Add d-flex -->
        {%- assign project_type  = "local" -%}
        {%- assign project_id    = project.name | slugify -%}
        {%- assign project_img   = project.image -%}
        {%- assign project_name  = project.name -%}
        {%- assign project_desc  = project.description -%}
        {%- assign project_tools = project.tools -%}
    
        {%- if project.external_url -%}
          {%- assign project_url = project.external_url -%}
          {%- assign external    = true -%}
        {%- else -%}
          {%- assign project_url = project.url | relative_url -%}
          {%- assign external    = false -%}
        {%- endif -%}
        {% include blog/project-card.html %}
      </div>
    {% endfor %}
  </div>
</div>



