.search-box {
  box-shadow: none !important;
}

.post.card {
  border-radius: 15px;
  text-decoration: none !important;
  margin: 10px auto;
}
.post.card .card-img-top {
  border-radius: 15px 15px 0 0;
}
.post.card .card-footer {
  font-size: 14px;
  margin: 0 -15px -15px -15px;
  padding: 15px 35px;
}

.post-metadata {
  font-size: 14px;
  margin-top: -6px;
}
.post-metadata .tag:hover {
  background-color: #007bff;
  color: white !important;
}
