 ---
 ---

 // @import "portfolYOU";
 // @import "../_sass/blog";

// Import the remote theme's main stylesheet first
@import "main";

// Then, import your custom blog styles
@import "../_sass/blog";

.post.card {
  transition: transform 400ms ease, box-shadow 400ms ease;
  transform: translateY(0px); /* Initial state: no vertical shift */
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* Initial state: no shadow */
}

.post.card:hover {
  transform: translateY(-20px) scale(1.05); /* Make it very obvious */
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.45); /* Make shadow very obvious */
  z-index: 10; /* Make sure this is also applied */
}
