 ---
 ---
 @import "portfolYOU";

 .post.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }
  .card-footer {
    font-size: 14px;
    margin: 0 -15px -15px -15px;
    padding: 15px 35px;
  }
}
.post-metadata {
  font-size: 14px;
  margin-top: -6px;
  transition: transform 400ms;

 .tag:hover {
    background-color: $primary;
    color: white !important;
  }
}





